<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Links</h1>
<a href="/add">Adicionar Link</a>
    <% for(let i=0; i<links.length; i++){%>
        <div id="<%=links[i]._id%>">
            <h2><%=links[i].title%></h2>
            <div><%=links[i].description%></div>
            <div><%=links[i].url%></div>
            <div>Clicks: <%=links[i].click%></div>
            <a href="/edit/<%=links[i]._id%>">Edit</a>
            <button onclick="deleteLink('<%=links[i]._id%>')">Delete</button>
        </div>
    <%}%>
    <script>

        function deleteLink(id){

            fetch('/' + id,{method:'DELETE'}).then(res=>{

                console.log(res.ok)
                if(res.ok){
                    res.text().then(linkId=>{
                        document.getElementById(linkId).remove();
                    })
                } else {
                    res.json().then(err=>{
                        console.log(err.message)
                        alert(err.message)
                    })
                }
            })
        }

    </script>
</body>
</html>