<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirection</title>
  </head>
  <body>
    <h1 style="display: flex; justify-content: space-between">
      Edit Link <a href="/">Ir para todos os links</a>
    </h1>

    <form action="/edit/<%=body.id%>" method="POST">
      <input
        name="title"
        placeholder="Título"
        type="text"
        value="<%=body.title%>"
      />
      <input name="url" placeholder="URL" type="text" value="<%=body.url%>" />
      <input
        name="description"
        placeholder="Descrição"
        type="text"
        value="<%=body.description%>"
      />
      <button>Salvar</button>
    </form>

    <%if(error){%>
    <h3><%=error.message%></h3>
    <%}%>
  </body>
</html>
